@model IEnumerable<FormCadastro.Models.TB_CADASTRO>

@{
    ViewData["Title"] = "Cadastros";
}
<div class="container-fluid">
<h1>Cadastros</h1>

<p>
    <button onclick="location.href='@Url.Action("Create","Cadastro")'" type="button" class="btn btn-success">Adicionar Novo</button>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NOME_TIT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CPF_TIT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ENDERECO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ENDERECO_NRO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ENDERECO_COMP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BAIRRO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CEP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MUNICIPIO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TELEFONE_CEL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EMPRESA_TIT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PROF_TIT)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NOME_TIT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CPF_TIT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ENDERECO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ENDERECO_NRO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ENDERECO_COMP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BAIRRO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CEP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MUNICIPIO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TELEFONE_CEL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EMPRESA_TIT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PROF_TIT)
            </td>
            <td>
                <div class="button-group">
                    <button asp-route-id="@item.ID_REGISTRO" class="no-border" onclick="location.href='Cadastro/Edit/@item.ID_REGISTRO'" type="button" class="btn btn-primary"><i class='bx bx-pencil'></i></button>
                    <button asp-route-id="@item.ID_REGISTRO" class="no-border" onclick="location.href='Cadastro/Details/@item.ID_REGISTRO'" type="button" class="btn btn-warning"><i class='bx bx-list-ul'></i></button>
                    <button asp-route-id="@item.ID_REGISTRO" class="no-border" onclick="location.href='Cadastro/Delete/@item.ID_REGISTRO'" type="button" class="btn btn-danger"><i class='bx bx-trash-alt'></i></button>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
</div>